.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
  background-color: #f9fbfe;
}

.heading {
  font-size: 35px;
  line-height: 48px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #0a0909;
  text-align: center;
}

.form-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.label-element {
  color: #242323;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
}

.input-element {
  margin: 10px 22px 0px 22px;
  width: 540px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #3b3838;
  padding-left: 8px;
  background-color: #ffffff;
}

.add-button {
  width: 84px;
  height: 40px;
  margin: 16px 10px 0px 0px;
  border-radius: 7px;
  background-color: #4c63b6;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Roboto';
}

.hr-line {
  width: 100%;
}

.card-heading {
  font-size: 32px;
  line-height: 37px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #1a1616;
  margin-left: 20px;
}

.todo-list-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 17px;
}

.error {
  color: #fc0303;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 22px;
}

.filter-card {
  align-self: flex-end;
  margin-right: 33px;
  background-color: transparent;
  width: 90px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #585858;
  text-align: center;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #200000;
  cursor: pointer;
  outline: none;
}

.filter-icon {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}

.card {
  display: flex;
  flex-direction: column;
}
